@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.magical-underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #70cfff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 20px 85%;
  transition: background-size 0.25s ease-in;
}